/* You can add global styles to this file, and also import other style files */
/* Colors from Walker Advertising */
$dark-blue: #2f4c76;
$white: #FFFFFF;
$light-gray: #F5F6F5;
$gold: #ae9975;
$green: #28A745; // Success green for tick
$red: #DC3545;   // Danger red for X